
body{
    font-family: 'Times New Roman', Times, serif, sans-serif;
margin: 0;
box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

h1{font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{font-size: 1.25em;}

button{
font-size: 1.5em;
font-weight: bold;
padding: 10px 20px;
border-radius: 10px;
border: 2 soli rgba(0,0,0,5);
box-shadow: 2px 2px 10px rgba(0,0,0,5);
color:white;
background-color:blueviolet;
}
button:hover{
    background-color:rgb(84, 16, 148);
}
.container{
    max-width: 1400px;
    margin:auto;
}

header{
    background-color: rgb(245, 245, 245);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
header a:hover{
    color: blueviolet;
}

.color-acento{color: blueviolet;}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: rgb(255, 255, 255);
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(imagenes/mixcast_4_w_4_people.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
    ;
}


#hero h1{
    color: white;
}
#hero button{
    font-size: 1.75em;
}


#Somos-jjkpod .container{
    text-align: center;
    padding: 20px 12px;
}


#Nuestros-Cursos{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
    padding: 50px;
}


#Nuestros-Cursos .container{
    padding: 20px 12px;
}

#Nuestros-Cursos p{
    display: none;
}

#Nuestros-Cursos h2{
    text-align: center;
   margin-top: 0; 
   font-size: 3.5em;
}
#Nuestros-Cursos .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
margin: 20px;
border-radius: 20px;
}

.carta:first-child{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(imagenes/efectos\ sonido.jpg);
    
}
.carta:nth-child(2){
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(imagenes/efectos-especiales.jpg);
    
}
.carta:nth-child(3){
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(imagenes/podcast-digitales.jpg);
   }

   #caracteristicas .container{
    text-align: center;
    padding: 250px 12px;
   }
   #caracteristicas li{
    margin: 15px 0px;
    font-weight: bold;
   }

   #comienzaya{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color:white;
    height: 80vh;
   }
   #comienzaya h2{
   font-size: 9vw; 
   }
   #comienzaya button{
    font-size: 5vw;
   }
   @media (min-width: 1024px){
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
    #hero button{
        font-size: 2.5vw;
    }
    #Somos-jjkpod h2{
        margin: 0;
        padding: 0;
        width: 10px;
        height: 20px;
    }
    #Somos-jjkpod .container{
        display: flex;
        justify-content: center;
        width: 20px 15px;
    }
    #Somos-jjkpod .texto{
        width: 20%;
        max-width: 600px;
        text-align: left;
        padding-left: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }
    #Somos-jjkpod .img-container{
        background-image:url(imagenes/podcast-stats-blog-post-header.png);
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
        margin: 0;

    }

    #Nuestros-Cursos .cursos{
        display: flex;
        justify-content: center;
    }
    #Nuestros-Cursos p{
        display: block;
        margin-bottom: 30px;
    }

    #Nuestros-Cursos h3{
        margin-top: 0;
    }

    #Nuestros-Cursos .carta{
        padding: 50px;
    }
    #caracteristicas .container{
        text-align: initial;
    }
    #caracteristicas li{
        margin-left: 100px;
    }
    #caracteristicas{
        background-image: url(imagenes/odcast-800x450.width-640.jpg);
        background-repeat: no-repeat;
        background-size: 600px 500px;
        background-position: calc(100vw - 800px) 120px;
    }

    #comienzaya h2{
        font-size: 5em;
    }
    #comienzaya button{
        font-size: 2em;
    }
    footer .container{
        align-items: flex-end;
    }
   }
